accuracy_figure_*.log
logs/*
test.csv
*.bak
.Rhistory
scatter_max_PP_100.fig
scatter_max_PP_100.pdf
scatter_max_PP_500.fig
scatter_max_PP_500.pdf
whiskers_max_PP_percent_match100.pdf
whiskers_max_PP_percent_match500.pdf
whiskers_max_PP_percent_match_100.fig
whiskers_max_PP_percent_match_500.fig
whiskers_max_PP_point_estimates_100.fig
whiskers_max_PP_point_estimates_100.pdf
whiskers_max_PP_point_estimates_500.fig
whiskers_max_PP_point_estimates_500.pdf
YOU.pdf
fig1L-L0.1.png
fig1L-L1.png
fig1L-L2.png
fig1NL-NL0.1.png
fig1NL-NL1.png
fig1NL-NL2.png
fig2L-L0.1.png
fig2L-L1.png
fig2L-L2.png
fig2NL-NL0.1.png
fig2NL-NL1.png
fig2NL-NL2.png
fig3L-L0.1.png
fig3L-L1.png
fig3L-L2.png
fig3NL-NL0.1.png
fig3NL-NL1.png
fig3NL-NL2.png

.directory
accuracy_figure_9.fig
fig4_AB.fig
fig4_AB.pdf
fig4_AB_1MillionTrials.pdf
